@model HomeViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section>
    <div class="container">
        <h2 class="section-title">Most bought products</h2>
        <partial name="_HomePartialView" model="@Model.MostBoughtProducts"/>
    </div>
</section>

<br />

<section>
    <div class="container">
        <h2 class="section-title">Newest products</h2>
        <partial name="_HomePartialView" model="@Model.NewestProducts"/>
    </div>
</section>
