@model IEnumerable<MouseViewModel>

<ul class="mouses">
    @foreach (var mouse in Model)
    {
        <li>
            <div></div>
            <div>
                <p>@mouse.Name</p>
            </div>
            <div>
                <p>@mouse.Price</p>
                <button>Buy</button>
            </div>
        </li>
    }
</ul>
