@model IEnumerable<MouseViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterMouses", "Mouses")" data-container="#mouses">
            <div class="filter-categories">
                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Manufacturer",
                    values = Model.Select(m => m.Manufacturer).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Connectivity",
                    values = Model.Select(m => m.Connectivity).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Interface",
                    values = Model.Select(m => m.Interface).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Sensor",
                    values = Model.Select(m => m.Sensor).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "NumberOfKeys",
                    values = Model.Select(m => m.NumberOfKeys.ToString()).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Color",
                    values = Model.Select(m => m.Color).Distinct()
                })
            </div>
            <div class="additional-filters">
                @await Component.InvokeAsync("OrderComponent")
            </div>
        </form>
    </div>
    <div id="mouses">
        @await Component.InvokeAsync("ProductsComponent", new { models = Model })
    </div>
</div>

@section Scripts {
    <script src="~/js/filter.js"></script>
}