@model MousesViewModel

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterMouses", "Mouses")" data-container="#mouses">
            <div>
                <div class="filter-category">
                    <label>Manufacturer:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Manufacturer, new ViewDataDictionary(ViewData) {
                        {"Name", "Manufacturer"}
                    })
                </div>
                <div class="filter-category">
                    <label>Connectivity:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Connectivity, new ViewDataDictionary(ViewData) {
                        {"Name", "Connectivity"}
                    })
                </div>
                <div class="filter-category">
                    <label>Color:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Color, new ViewDataDictionary(ViewData) {
                        {"Name", "Color"}
                    })
                </div>
                <div class="filter-category">
                    <label>Interface:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Interface, new ViewDataDictionary(ViewData) {
                        {"Name", "Interface"}
                    })
                </div>
                <div class="filter-category">
                    <label>Sensor:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Sensor, new ViewDataDictionary(ViewData) {
                        {"Name", "Sensor"}
                    })
                </div>
                <div class="filter-category">
                    <label>Number of keys:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.NumberOfKeys, new ViewDataDictionary(ViewData) {
                        {"Name", "NumberOfKeys"}
                    })
                </div>
                <div class="filter-category">
                    <label>Sensitivity:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Sensitivity, new ViewDataDictionary(ViewData) {
                        {"Name", "Sensitivity"}
                    })
                </div>
                <div class="filter-category">
                    <label>Price:</label>
                    @await Html.PartialAsync("_MousesFilterPartial", Model.Prices, new ViewDataDictionary(ViewData) {
                        {"Name", "Price"}
                    })
                </div>
            </div>
            <div class="order">
                <div>
                    <select name="Order">
                        <option value="Default">Default</option>
                        <option value="Lowest price">Lowest price</option>
                        <option value="Highest price">Highest price</option>
                        <option value="Oldest">Oldest</option>
                        <option value="Newest">Newest</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div id="mouses">
        <partial name="_MousesPartialView" model="@Model.Mouses"/>
    </div>
</div>

@section Scripts {
   <script src="~/js/filter.js"></script>
}