@model ProductsViewModel<SearchViewModel>

<div class="page-title">
    <h1>Search</h1>
</div>
<div class="page-body">
    <form class="page-layout" method="get" data-url="@Url.Action("FilterSearchedProducts", "Search")">
        <partial name="_FilterPartialView" model="@Model.Filters"/>
        <partial name="_ProductsContentPartialView" model="@Model.Products"/>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/js/filter.js"></script>
}