<div class="order-confirmation-wrapper">
    <div class="order-confirmation-page">
        <h2 class="page-title">Order Confirmation</h2>
        <div class="order-confirmation-message">
            <h4>Thank you for your order!</h4>
            <hr>
            <p>We've sent you an email with your order details. Your items will be shipped within 2-3 business days.</p>
        </div>
    </div>
</div>
