.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #fff;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.quantity-input {
    width: 50px;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

.buy-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.specifications-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-cell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.product-description {
    margin-top: 20px;
}


.button-like {
    border: 2px solid #4CAF50;
    background-color: transparent;
    text-decoration: none;
    padding: 0.5rem; /* adjust as needed */
    position: relative;
    width: 2rem; /* equal width and height */
    height: 2rem; /* equal width and height */
    vertical-align: middle;
    text-align: center;
    display: flex; /* flexbox for centering */
    align-items: center; /* center vertically */
    justify-content: center; /* center horizontally */
    border-radius: 50%; /* makes it round */
    color: #4CAF50;
    transition: all ease 0.4s;
    font-size: 0.75rem;
}

    .button-like .fa {
        transition: all ease 0.4s;
    }

    .button-like:focus {
        background-color: transparent;
    }

        .button-like:focus .fa {
            color: #4CAF50;
        }

    .button-like:hover {
        border-color: #4CAF50;
        background-color: transparent;
    }

        .button-like:hover .fa {
            color: #4CAF50;
        }

.liked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

    .liked .fa {
        color: #fefefe;
    }

    .liked:focus {
        background-color: #4CAF50;
    }

        .liked:focus .fa {
            color: #fefefe;
        }

    .liked:hover {
        background-color: #4CAF50;
        border-color: #4CAF50;
    }

        .liked:hover .fa {
            color: #fefefe;
        }

.like-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.like-text {
    color: #4CAF50;
}







