/* Style the profile menu container */
.profile-menu-container {
    display: inline-block;
    text-align: center;
    position: relative;
}

/* Style the profile button */
.profile-button a,
.card-button a{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none; /* For the "Card" button */
    font-size: 16px; /* For the "Card" button */
    border-radius: 4px; /* For the "Card" button */
}

    /* Style the "Login" and "Create account" links */
    .profile-button a {
        display: block;
        text-decoration: none;
        color: white;
    }

    /* Style the "Create account" subtext */
    .profile-button .subtext {
        font-size: 80%;
        margin-top: 5px;
        color: white;
        text-decoration: none;
    }

/* Style the profile menu */
.profile-menu {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
}

/* Style the login form inside the profile menu */
.login {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Limit the form width for better aesthetics */
}

/* Style the login input fields */
.login-input {
    margin-bottom: 10px; /* Add some spacing between the input fields */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* Style the "Register" link inside the form */
.login a {
    text-decoration: none;
    color: #333;
}

/* Style the button container to make the links appear next to each other */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the login button */
.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* Change the login button color on hover */
    .login-button:hover {
        background-color: #45a049;
    }

/* Show the profile menu when hovering over the profile button or the menu itself */
.profile-menu-container:hover .profile-menu,
.profile-menu-container:focus-within .profile-menu {
    display: block;
}

.login-container {
    display: flex;
    align-items: center;
}

.button-container {
    margin-left: 10px;
}