.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.order-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2em;
    padding: 1em;
}

.order-form {
    flex: 1 0 65%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.form-container {
    width: 100%;
    margin: 0 auto;
}

.form-title, .section-title {
    color: #333;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.radio-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-label input:checked ~ .checkmark:after {
    display: block;
}

.radio-label .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

    .btn-submit:hover {
        background-color: #45a049;
    }

.shopping-cart {
    flex: 1 0 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.total-amount,
.delivery-amount {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

    .total-amount .total-price,
    .delivery-amount .delivery-price {
        font-size: 22px;
        color: #52ad9c;
    }