.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 20px;
}

.products-row {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 1em;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 18px;
    color: #333;
}

.product-price {
    font-size: 16px;
    color: #666;
}

.product-buttons {
    display: flex;
    flex-direction: column; /* This will stack the buttons vertically */
    justify-content: space-between;
}

.remove-favorite {
    background-color: transparent;
    color: #f44336;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.product-button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

    .product-button:hover {
        color: white;
    }

.section-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.page-layout {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.filter {
    flex: 1;
    margin-right: 20px;
    width: 300px;
}

.additional-filters {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 1050px; /* adjust this to the fixed pixel width you need */
    box-sizing: border-box;
}

    .additional-filters label {
        margin-right: 10px;
    }

    .additional-filters select {
        padding: 5px 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

.container {
    display: flex;
    flex-wrap: wrap; /* allow the items to wrap as needed */
    justify-content: space-between; /* distribute leftover space evenly between the items */
}

.page-title {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    width: 250px;
}

    .page-title h1 {
        font-size: 24px;
        color: #333;
    }

.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragraph-style {
    color: #333;
    font-size: 18px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}