@model IEnumerable<InternalDriveViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterInternalDrives", "InternalDrives")" data-container="#internal-drives">
            <div class="filter-categories">
                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(InternalDriveViewModel.Manufacturer),
                    values = Model.Select(m => m.Manufacturer).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(InternalDriveViewModel.Type),
                    values = Model.Select(m => m.Type).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(InternalDriveViewModel.Interface),
                    values = Model.Select(m => m.Interface).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(InternalDriveViewModel.FormFactor),
                    values = Model.Select(m => m.FormFactor).Distinct()
                })
            </div>
            <div class="additional-filters">
                <partial name="_OrderPartialView"/>
            </div>
        </form>
    </div>
    <div id="internal-drives">
        <partial name="_ProductsPartialView" model="Model"/>
    </div>
</div>

@section Scripts {
           <script type="module" src="~/js/filter.js"></script>
}