@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<div class="login-container">
    <div class="profile-menu-container">
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="profile-button">
                <a asp-action="Index" asp-controller="Profile">Profile</a>
            </div>
            <div class="profile-menu">
                <a asp-action="Index" asp-controller="Profile">Profile</a>
                <a asp-action="Index" asp-controller="Orders">Orders</a>
                <a asp-action="Index" asp-controller="Favorite">Favorite</a>
                <a asp-action="Logout" asp-controller="User">Logout</a>
            </div>
        }
        else
        {
            <div class="profile-button">
                <a asp-action="Login" asp-controller="User">Login</a>
            </div>
            <div class="login-menu">
                @await Component.InvokeAsync("Login")
            </div>
        }
    </div>
    <div class="button-container">
        <a class="card-button" href="/Cart/Index">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
</div>