@model IEnumerable<ProductViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterSearchedProducts", "Search")" data-container="#products">
            <div class="filter-categories">
                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(ProductViewModel.Manufacturer),
                    values = Model.Select(p => p.Manufacturer).Distinct()
                })
            </div>
            <div class="additional-filters">
                <partial name="_OrderPartialView"/>
            </div>
        </form>
    </div>
    <div id="products">
        <partial name="_ProductsPartialView" model="Model"/>
    </div>
</div>

@section Scripts {
    <script src="~/js/filter.js"></script>
}