<div class="profile-container">
    <div class="page-title">
        <h1>Profile</h1>
    </div>
    <div class="profile-address">
        <p class="profile-section-title">Delivery Data</p>
        <p class="profile-fullname">Ivaylo Milanov</p>
        <p class="profile-city">Yambol</p>
        <p class="profile-address-line">Cherno more 8</p>
    </div>
    <div class="profile-details">
        <p class="profile-section-title">Personal Data</p>
        <p class="profile-email">imilanov17@gmail.com</p>
    </div>
</div>
