@model IEnumerable<HeadsetViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterHeadsets", "Headsets")" data-container="#headsets">
            <div class="filter-categories">
                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Manufacturer",
                    values = Model.Select(m => m.Manufacturer).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Form",
                    values = Model.Select(m => m.Form).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Interface",
                    values = Model.Select(m => m.Interface).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "NoiseIsolation",
                    values = Model.Select(m => m.NoiseIsolation).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Type",
                    values = Model.Select(m => m.Type).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Compatibility",
                    values = Model.Select(m => m.Compatibility).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = "Color",
                    values = Model.Select(m => m.Color).Distinct()
                })
            </div>
            <div class="additional-filters">
                @await Component.InvokeAsync("OrderComponent")
            </div>
        </form>
    </div>
    <div id="headsets">
        @await Component.InvokeAsync("ProductsComponent", new { models = Model })
    </div>
</div>

@section Scripts {
   <script src="~/js/filter.js"></script>
}