@model ICollection<FavoriteExportModel>

<div class="favorites-page">
    <h2 class="favorite-title">Favorite Products</h2>
    <div class="favorites-container">
        <partial name="_FavoritePartialView" model="@Model"/>
    </div>
</div>
