<label for="order">Order By:</label>
<div class="order">
    <select>
        <option name="Order" value="1">Default</option>
        <option name="Order" value="2">Lowest price</option>
        <option name="Order" value="3">Highest price</option>
        <option name="Order" value="4">Oldest</option>
        <option name="Order" value="5">Newest</option>
    </select>
</div>

