<div class="search-form-container .justify-content-center">
        <form method="post" asp-action="Index" asp-controller="Search">
            <div class="search-input-container">
                <input type="search" name="keyword" placeholder="Search..." class="search-input" />
                <input type="submit" value="Search" class="search-submit" />
            </div>
        </form>
</div>
