<div>
    <form method="post" asp-action="Index" asp-controller="Search">
        <div>
            <input type="search" name="keyword" placeholder="Search..."/>
        </div>
        <input type="submit" value="Search" />
    </form>
</div>
