<div class="dropdown">
        <button class="dropbtn">Products</button>
        <div class="dropdown-content">
            <div class="has-submenu">
            <a>Peripherals</a>
            <div class="submenu">
                <a asp-action="Index" asp-controller="Keyboards">Keyboards</a>
                <a asp-action="Index" asp-controller="Mouses">Mouses</a>
                <a asp-action="Index" asp-controller="Monitors">Monitors</a>
                <a asp-action="Index" asp-controller="MousePads">Mouse Pads</a>
                <a asp-action="Index" asp-controller="Headsets">Headsets</a>
            </div>
        </div>
        <div class="has-submenu">
            <a>Hardware</a>
            <div class="submenu">
                <a asp-action="Index" asp-controller="Processors">Processors</a>
                <a asp-action="Index" asp-controller="Motherboards">Motherboards</a>
                <a asp-action="Index" asp-controller="Ram">RAM</a>
                <a asp-action="Index" asp-controller="PowerSupplies">Power Supplies</a>
                <a asp-action="Index" asp-controller="Cases">Cases</a>
                <a asp-action="Index" asp-controller="Coolers">Coolers</a>
                <a asp-action="Index" asp-controller="VideoCards">Video Cards</a>
                <a asp-action="Index" asp-controller="InternalDrives">Internal Drives</a>
            </div>
        </div>
        </div>
    </div>