@model IEnumerable<ProductViewModel>

<div class="products-container">
    @if (Model.Any())
    {
        <div class="products-row">
            @foreach (var favorite in Model)
            {
                <div class="product-card">
                    <div class="product-image">
                        @*<img src="product-image.jpg" alt="Product Image">*@
                    </div>
                    <div class="product-details">
                        <h3 class="product-title">@favorite.Name</h3>
                        <p class="product-price">$@favorite.Price</p>
                        <div class="product-buttons">
                            <a asp-action="AddToShoppingCart" asp-controller="Cart" asp-route-productId="@favorite.Id" asp-route-quantity="1" class="product-button" href="other">Buy</a>
                            <span>Remove from favorite <button class="remove-favorite">x</button></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="center-content">
            <p class="paragraph-style">There are no products.</p>
        </div>
    }
</div>

<script src="~/js/card.js"></script>