<div class="order">
    <select>
        <option name="Order" value="Default">Default</option>
        <option name="Order" value="Lowest price">Lowest price</option>
        <option name="Order" value="Highest price">Highest price</option>
        <option name="Order" value="Oldest">Oldest</option>
        <option name="Order" value="Newest">Newest</option>
    </select>
</div>

