@model IEnumerable<ProductViewModel>

@if (Model.Any())
{
    <div class="container">
        <div class="products-row">
            @foreach (var product in Model)
            {
                        <div class="product-card">
                            <div class="product-image">
                            <img src="product-image.jpg" alt="Product Image">
                            </div>
                            <div class="product-details">
                                <h3 class="product-title">Product Title</h3>
                                <p class="product-price">$99.99</p>
                                <a class="product-button" href="other">Details</a>
                            </div>
                        </div>
            }
        </div>
    </div>
} 
else
{
    <div class="center-content">
        <p class="paragraph-style">There are no products.</p>
    </div>
}