@model ProductsViewModel<MonitorViewModel>

<div class="page-title">
    <h1>Monitors</h1>
</div>
<div class="page-body">
    <form class="page-layout" method="get" data-url="@Url.Action("FilterMonitors", "Monitors")">
        <partial name="_FilterPartialView" model="@Model.Filters"/>
        <partial name="_ProductsContentPartialView" model="@Model.Products"/>
    </form>
</div>

@section Scripts {
   <script type="module" src="~/js/filter.js"></script>
}