@model CatalogPageViewModel

<div class="page-title">
    <h1>@Model.PageTitle</h1>
</div>
<div class="page-body">
    <form class="page-layout" method="get" data-url="@Model.FilterPostUrl">
        <partial name="_FilterPartialView" model="@Model.Catalog.Filters"/>
        <partial name="_ProductsContentPartialView" model="@Model.Catalog.Products as IEnumerable<ProductViewModel>"/>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/js/filter.js"></script>
}
