@model FilterCategoryModel

<div class="filter-category">
        <div class="filter-header">
                <label>@Model.Name:</label>
        </div>
        <div class="filter-values">
            <ul>
            @if (!Model.Values.Contains(""))
            {
                @foreach (var value in Model.Values)
                {
                    <li>
                        <label>
                            <input type="checkbox" name="@Model.Name" value="@value"/> @value
                        </label>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
