@{
    var mostBoughtProducts = (IEnumerable<ProductViewModel>)ViewBag.Model.MostBoughtProducts;
    var newestProducts = (IEnumerable<ProductViewModel>)ViewBag.Model.NewestProducts;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<section>
    <div class="container">
        <h2 class="section-title">Most bought products</h2>
        <partial name="_HomePartialView" model="@mostBoughtProducts"/>
    </div>
</section>

<br />

<section>
    <div class="container">
        <h2 class="section-title">Newest products</h2>
        <partial name="_HomePartialView" model="@newestProducts"/>
    </div>
</section>
