@model IEnumerable<MotherboardViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterMotherboards", "Motherboards")" data-container="#motherboards">
            <div class="filter-categories">
                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.Manufacturer),
                    values = Model.Select(m => m.Manufacturer).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.Socket),
                    values = Model.Select(p => p.Socket).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.FormFactor),
                    values = Model.Select(p => p.FormFactor).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.Chipset),
                    values = Model.Select(p => p.Chipset).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.MaintenanceMemory),
                    values = Model.Select(p => p.MaintenanceMemory).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.BuiltInWIFI),
                    values = Model.Select(p => p.BuiltInWIFI).Distinct()
                })

                @await Component.InvokeAsync("FilterComponent", new {
                    name = nameof(MotherboardViewModel.Backlight),
                    values = Model.Select(p => p.Backlight).Distinct()
                })
            </div>
            <div class="additional-filters">
                <partial name="_OrderPartialView"/>
            </div>
        </form>
    </div>
    <div id="motherboards">
        <partial name="_ProductsPartialView" model="Model"/>
    </div>
</div>

@section Scripts {
    <script src="~/js/filter.js"></script>
}