.profile-menu-container {
    display: inline-block;
    text-align: center;
    position: relative;
}

.profile-button a,
.card-button i{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

.card-button i {
    font-size: 24px;
    color: white;
}

.profile-button a {
    display: block;
    text-decoration: none;
    color: white;
}

.profile-button .subtext {
    font-size: 80%;
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.profile-menu,
.login-menu {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    white-space: nowrap;
}

.profile-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    width: 200px;
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.login-input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.login a {
    text-decoration: none;
    color: #333;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.profile-menu-container:hover .profile-menu,
.profile-menu-container:focus-within .profile-menu {
    display: block;
}

.profile-menu-container:hover .login-menu,
.profile-menu-container:focus-within .login-menu {
    display: block;
}

.login-container {
    display: flex;
    align-items: center;
}

.button-container {
    margin-left: 10px;
}