@using System.IO
@using System.Text.Json
@inject IWebHostEnvironment HostingEnvironment
@{
    var path = System.IO.Path.Combine(HostingEnvironment.WebRootPath, "data", "categories-nav.json");
    var json = System.IO.File.ReadAllText(path);
    var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
    var nav = JsonSerializer.Deserialize<CategoriesNavModel>(json)
        ?? throw new InvalidOperationException("Invalid categories navigation JSON.");
}

@foreach (var group in new (string Title, NavCategoryItem[] Items)[] { ("Peripherals", nav.Peripherals), ("Hardware", nav.Hardware) })
{
    <li class="dropend">
        <button type="button" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">@group.Title</button>
        <ul class="dropdown-menu">
            @foreach (var category in group.Items)
            {
                <li>
                    <a class="dropdown-item" href="/Product/Index?category=@category.Name&title=@category.Title">@category.Title</a>
                </li>
            }
        </ul>
    </li>
}
