@using Microsoft.AspNetCore.Identity
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HardwareStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HardwareStore.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HardwareStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="dropdown">
                        <button class="dropbtn">Products</button>

                        <div class="dropdown-content">
                            @await Html.PartialAsync("_CategoriesNav")
                        </div>
                    </div>

                    <div class="search-form-container .justify-content-center">
                        <form method="post" asp-action="Index" asp-controller="Search">
                            <div class="search-input-container">
                                <input type="search" name="keyword" placeholder="Search..." class="search-input" />
                                <input type="submit" value="Search" class="search-submit" />
                            </div>
                        </form>
                    </div>

                    <div class="login-container">
                        <div class="profile-menu-container">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="profile-button">
                                    <a asp-action="Index" asp-controller="Profile">Profile</a>
                                </div>
                                <div class="profile-menu">
                                    <a asp-action="Index" asp-controller="Profile">Profile</a>
                                    <a asp-action="Index" asp-controller="Orders">Orders</a>
                                    <a asp-action="Index" asp-controller="Favorite">Favorite</a>
                                    <a asp-action="Logout" asp-controller="User">Logout</a>
                                </div>
                            }
                            else
                            {
                                <div class="profile-button">
                                    <a asp-action="Login" asp-controller="User">Login</a>
                                </div>
                                <div class="login-menu">
                                    @await Html.PartialAsync("_LoginFormPartial", new LoginFormModel())
                                </div>
                            }
                        </div>
                        <div class="button-container">
                            <a class="card-button" href="/Cart/Index">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <p>Copyright &copy; 2023 HardwareStore. All rights reserved.</p>
            <ul class="footer-links">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/card.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
